<% if user_signed_in? %>
<h1>StaticPage#index</h1>
<p>Find me in app/views/static_page/index.html.erb</p>

<%= render 'theme/index' %>

<%= link_to "診断を作る", new_post_path %>

<% else %>
  <p><%= link_to "Mastodonアカウントでログイン", user_mastodon_omniauth_authorize_path %></p>
<% end %>