<%= @user %> さんは <%= @theme[rand(@theme.count)] %> です。

<p><%= linkt_to "診断結果をMastodonへシェアする", "https://mastoshare.net/post.php?text=#{@user}さんは#{@theme[rand(@theme.count)]}です。\n #Mastodon診断アプリ"%></p>
