<%= @user %> さんは <%= @theme[rand(@theme.count)] %> です。


<p><a onclick="window.open(this.href, '', 'width=500,height=600'); return false;" class="intent_mastodon">トゥート</a></p>
<p><a onclick="window.open(this.href, '', 'width=500,height=600'); return false;" class="intent_mastodon" data-url="https://mastportal.info">URLを指定してトゥート</a></p>
<p><a onclick="window.open(this.href, '', 'width=500,height=600'); return false;" class="intent_mastodon" data-text="マストポータルからのインテント">本文を指定してトゥート</a></p>
<p><a onclick="window.open(this.href, '', 'width=500,height=600'); return false;" class="intent_mastodon" data-url="https://mastportal.info" data-text="マストポータルからのインテント">URLと記事本文を指定してトゥート</a></p>
<script src="https://mastportal.info/library/intent/intent.js" ></script>