<%= @user %> さんは <%= @theme[rand(@theme.count)] %> です。

<p><%= link_to "診断結果をMastodonへシェアする", "https://mastoshare.net/post.php?text=#{@post}\n#Mastodon診断アプリ\n#{@user}さんは#{@theme[rand(@theme.count)]}です。\n"%></p>
